#intro{
  background-image:url("/home/june/Documents/mpft-ip/ip2/assets/backgrounds/landing.jpg");
background-size: cover;
  padding: auto;
  margin: auto;
  height: 800px;
}
#breakfast{
  background-image:url("/home/june/Documents/mpft-ip/ip2/assets/foodtop/breakfast.jpg");
  background-size: cover;
  repeat:no-repeat;
  padding:115px;
  hover: background-color: white;
  }
  #dinner{
  background-image:url("/home/june/Documents/mpft-ip/ip2/assets/foodtop/dinner.jpg");
  background-size: cover;
  padding:115px;
}
#lunch{
  background-image: url("/home/june/Documents/mpft-ip/ip2/assets/foodtop/lunch.jpg");
  background-size: cover;
  padding:115px;
}
#fast-food{

   width: 600px;
   border: 10px solid #F0F3F4;
   padding: 60px;
   margin: 55px;
   outline: 20px;
   outline-color: white
   float: right;
}
#fastfood2{

  background-color:white;
   width: 600px;

   padding: 75px;
   margin: 2px;
   outline: 20px;
   outline-color: white
}
