#intro{
  background-image:url("/home/june/Documents/mpft-ip/ip2/assets/backgrounds/landing.jpg");
background-size: cover;
  padding: auto;
  margin: auto;
  height: 800px;
}
#breakfast{
  background-image:url("/home/june/Documents/mpft-ip/ip2/assets/foodtop/breakfast.jpg");
  background-size: cover;
  repeat:no-repeat;
  padding:115px;
  hover: background-color: white;
  }
  #dinner{
  background-image:url("/home/june/Documents/mpft-ip/ip2/assets/foodtop/dinner.jpg");
  background-size: cover;
  padding:115px;
}
#lunch{
  background-image: url("/home/june/Documents/mpft-ip/ip2/assets/foodtop/lunch.jpg");
  background-size: cover;
  padding:115px;
}
#fast-food{

   width: 600px;
   border: 10px solid #F0F3F4;
   padding: 60px;
   margin: 55px;
   outline: 20px;
   outline-color: white
   float: right;
}
#fastfood2{

  background-color:white;
   width: 600px;

   padding: 75px;
   margin: 2px;
   outline: 20px;
   outline-color: white
}
#party{
  background-color: #F15A29;
  padding:40px;
}
#happy{
  padding:40px;
}
#drinks{
  width: 600px;
  border: 10px solid #F0F3F4;
  padding: 60px;
  margin: 55px;
  outline: 20px;
  outline-color: white
  float: right;
}
#drinks2{
  background-color:white;
   width: 600px;
   border: auto;
   padding: 25px;
   margin: auto;
   outline: 20px;
   outline-color: white
}
#foods{
      background-image: url("/home/june/Documents/mpft-ip/ip2/assets/backgrounds/foodsBg.jpg");
      background-size: cover;
      padding:200px;
      background-position: center;

      margin: 0;
    }
    #food2{
      bbackground-color: lightgrey;
    padding : 100px;
    margin:0px;
    background-color: white;

    }
    #customers{
  background-color: none;
    width: auto;

    column-gap: 10px;
    column-rule: 4px outset #ff00ff;
    column-rule-style: outset;


    padding: 60px;
    margin: 200px;
    border: 10px solid white;
    box-shadow: 10px 6px 10px 6px #eff3f9;
    text-align: center;

}
#h1customers{
color:#F15A29;

}
.menu{
  padding:80px;
  margin:auto;
  border: auto;


}
.subscribe{
  background-image: url("/home/june/Documents/mpft-ip/ip2/assets/backgrounds/subscribe.jpg");
  padding:100px;
  align:center;
  background-repeat: no-repeat;
  background-size: cover;
}
#subscribebutton{
background-color: #F15A29;
padding: 0px;
margin: 0px;
width: 200px;
border: 0;
  }
  .form-control{
    margin: 70px;
    padding:10px;
    width: 100px;
    border: 0;
    background-color: grey;
  }
#footer{
      background-color: #F15A29;
      padding:60px;
      margin:inherit;

    }
